apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: monitoring
data:
  grafana.ini: |
    [server]
    root_url = %(protocol)s://%(domain)s:%(http_port)s/

    [datasources]

    [users]
    allow_sign_up = false

    [auth.anonymous]
    enabled = true
    org_role = Viewer

    [log]
    mode = console
    level = info
