apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2 # Staging: 2 replicas
  template:
    spec:
      containers:
        - name: backend
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 150m
              memory: 384Mi
            limits:
              cpu: 1000m
              memory: 1Gi
